body {
    font-family: Arial;
    background-color: #f5f5f5;
    margin: 0;
    padding: 30px;
    transition: 0.3s;
}

.dark {
    background-color: #1e1e1e;
    color: white;
}

.container {
    width: 400px;
    margin: 0 auto;
}

input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.dark li {
    background: #333;
}
